
h3{
    color: blue;
    font-size: 34px;
}

li{
    list-style-type: none;
    display: inline;
}

span{
    border: 2px solid brown;
    padding: 40px;
    margin: 100px;
    background-color: aqua;
}
